.scenario-input {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* puts button and textarea vertically */
    position: relative;
}

.scenario-input label {
    display: block;  
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.scenario-input textarea {
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    margin-bottom: 0;
    border-radius: 10px;
    align-items: right;
}

