.recording {
  bottom: -10px;
  top: 0px;
  width: 20px; 
  height: 20px; 
  padding: 0; 
  background-color: rgb(139, 171, 139); 
  color: #333; /* text color */
  border: 2px solid #ddd; /* border color and style */
  border-radius: 50%;
  position: relative;
}

.recording:hover {
  background-color: green;
}
