  #system-starts {
    display: inline-block;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    background-color: gray;
  }
  
  #system-starts.on {
    background-color: green; /* toggled on: change background color green */
  }
  
  #system-starts.off {
    background-color: gray; /* toggled off: background color stays gray */
  }
  
  .toggle-knob {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2.5px;
    left: 5px; /* default position on the left */
    transition: left 0.3s; /* transition when toggled */
  }
  
  #system-starts.on .toggle-knob {
    left: 25px; /* toggled on: move knob to the right */
  }
  