* {
  font-family: 'Karla', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: whitesmoke;
  font-family: 'Karla', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  width: 100%;
}

.header{
  width: 100vw;
  display: flex;
  flex-direction: row;
  /*background-color: rgb(179, 182, 182);*/
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 25px;
  margin-bottom: 0px;
  border-bottom: 2px solid black;
}
/* all stuff to do with the globe dropdown for languages */

.language-dropdown {
  position: fixed;
  background-color: whitesmoke;
  top: 60px; /* adjust here to move the dropdown box */
  left: 15px; /* adjust here to move the dropdown box */
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.icon-container {
  margin: -15px;
  padding-left: 10px;
}
.logo-container{
  margin: -20px;
  padding-right: 0px;
}

.language-dropdown button {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.language-dropdown button:not(:nth-child(3)) {
  border-bottom: 1px solid black;
}

/* css for EnterLanguageDropdown */

/* container for the dropdown */
.enter-language-dropdown {
  position: relative;
  display: inline-block;
}

/* styling for the dropdown button */
.enter-language-button {
  width: 100%;
  background-color: transparent;
  color: black;
  background-color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: left;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* container for the dropdown content */
.enter-language-dropdown-content {
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  max-height: 300px;
  overflow-y: auto;
}

/* styles for the search input inside the dropdown */
#enterLangInput {
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 20px 12px 20px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

/* focus style for the search input */
#enterLangInput:focus {
  outline: 3px solid #ddd;
}

/* styles for each dropdown option */
.enter-language-dropdown-option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* hover style for dropdown options */
.enter-language-dropdown-option:hover {
  background-color: #ddd;
}

/* overall flex */
.center-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding:20px;
  margin-top: 10px;
}
/* container for user input section */
.input-grid {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); /*3 equal columns */
  grid-template-rows: repeat(2, 1fr); 
  gap: 4px; 
  width: 100%; 
  max-height: 50px;
  margin-top:-25px;
  margin-bottom: 20px; 
  grid-template-rows: auto; /* adjust row heights based on content */
  justify-items: center; 
  flex-wrap: wrap; 
}
/* for each input grid item */
.input-grid-item {
  width: 60%;
  padding-inline: 60px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px; /* rounded corners */
  text-align: center; /* align text inside the inputs */
  margin-bottom: 0px; /* Space between items */
}

/* styling for the text from user input */
.input-grid input {
  width: 100%; 
  padding: 20px;
  font-size: 13px;
  border: 100px; 
  border-radius: 10px; /* rounded corners */
  background-color: white; 
  border: 1px solid #ddd;
  color: black; /* text color */
  text-align: left; /* align text to the left  */
  box-sizing: border-box; 
}

.input-container label {
  display: block;  
  font-weight: 700;
  color: #333;
  margin-bottom: 5px;
  font-size:12px;
  border-bottom: 1px solid black;
}

/*grid for speaker and microphone */
.speak-grid-container {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); /*2 equal columns */
  grid-template-rows: repeat(2, 1fr); 
  gap: 25%; 
  padding-inline: 0px; 
  padding-top: 20px;
  width: 100%;
  margin-top: -18px;
  align-items: center;
  grid-template-rows: auto; /* adjust row heights based on content */
}
.speak-grid-container .speak-grid-item:nth-child(1) {
  justify-self: end;
}
.speak-grid-container .speak-grid-item:nth-child(2) {
  justify-self: end;
}
.speak-grid-container .speak-grid-item:nth-child(4) {
  margin-left: 65%;
  margin-top: -15%;
}

.faq-dropdown {
  position: fixed;
  background-color: whitesmoke;
  top: 60px; /* adjust here to move the dropdown box */
  right: 15px; /* adjust here to move the dropdown box */
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  max-height: 300px;
  overflow-y: auto;
}
.FAQ {
  margin: -15px;
  padding-right: 10px;
}
.faq-item:not(:nth-child(3)) {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.faq-question {
  padding-top: 10px;
  padding-bottom: 5px;
}





