html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.IconContainer{
  position: absolute;
  top: 10px;
  left: 0;
}

.LogoContainer{
  position: absolute;
  top: 10px;
}

p {
  margin-top: 100px;
}

.header {
  display: flex;
  flex-direction: row;  
}